<section class="bg-light">
    <div class="container-fluid mx-auto">
        <form>
            <h3 class="text-center text-uppercase py-3 fs-3 text-primary">ITI online application - 2021</h3>
            <div class="row">
                <div class="col shadow mb-5 text-white" style="background: linear-gradient(58deg, rgba(5,103,183,1) 0%, rgba(0,212,255,1) 100%);">
                    <h3 class="fs-5"> Qualification Details (As per 10th Memo)</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="mb-3 row">
                            <div class="col-6 ">
                                <label for="qulDetsFormControlInput" class="form-label text-capitalize">qualification <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="Default select example" id="qulDetsFormControlInput">
                                    <option selected>10th Pass</option>
                                    <option value="inter">Inter Pass</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="mb-3 row">
                            <div class="col-6 ">
                                <label for="qulDetsMonthFormControlInput" class="form-label text-capitalize">month &amp; year of passing <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <select class="form-select" aria-label="Default select example" id="qulDetsMonthFormControlInput">
                                    <option selected>January</option>
                                    <option value="February">February </option>
                                    <option value="March">March </option>
                                    <option value="April">April </option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="form-select" aria-label="Default select example" id="qulDetsYearFormControlInput">
                                    <option selected>2005</option>
                                    <option value="2006">2006 </option>
                                    <option value="2007">2007 </option>
                                    <option value="2008">2008 </option>
                                    <option value="2009">2009</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="mb-3 row">
                            <div class="col-6 ">
                                <label for="qulDetsBoardFormControlInput" class="form-label text-capitalize">Name of the Board <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="Default select example" id="qulDetsBoardFormControlInput">
                                    <option selected>Select Board</option>
                                    <option value="Secondary Board">Secondary Board </option>
                                </select>
                            </div>
                        </div> 
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="mb-3 row">
                            <div class="col-6 ">
                                <label for="qulDetsHallTicNoFormControlInput" class="form-label text-capitalize">Name of the Board <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="qulDetsHallTicNoFormControlInput" placeholder="Hall Ticket No" />
                            </div>
                        </div> 
                        <div class="mb-3 row">
                            <div class="col-6 ">
                                <label for="qulDetsMarksGpFormControlInput" class="form-label text-capitalize">Select Marks / GP <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="qulDetsMarksGpFormControlInput" placeholder="Grad Points" />
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>Subject</h5>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>Max Marks</h5>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>Secured Marks</h5>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>Secured Grade Points</h5>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsSubLabFormControlInput" class="form-label">Fisrt Language</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSubLabFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSecMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsSecLagSubLabFormControlInput" class="form-label">Second Language</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSecLagSubLabFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSecLagSecMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSecLagGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsThiLagSubLabFormControlInput" class="form-label">Third Language</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsThiLagSubLabFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsThiLagSecMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsThiLagGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsMathSubLabFormControlInput" class="form-label">Mathematics</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsMathSubLabFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsMathSecMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsMathGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsSciSubLabFormControlInput" class="form-label">Science</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSciSubLabFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSciSecMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSciGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsSocialFormControlInput" class="form-label">Social Studies</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSocialFormControlInput" placeholder="Max Marks" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSocialMarksFormControlInput" placeholder="Grade Points" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="qulDetsSocialGradePtsFormControlInput" placeholder="Grade Points" />
                </div>
            </div>
            <div class="row pb-3  fs-5 fw-bold">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12"></div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsTotMaxMarksFormControlInput" class="form-label">Total Max Marks: <span id="qulDetsTotMaxMarksFormControlInput">0</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsTotSecMarksFormControlInput" class="form-label">Total Max Marks: <span id="qulDetsTotSecMarksFormControlInput">0</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="qulDetsGrdPontAvgFormControlInput" class="form-label">Total Max Marks: <span id="qulDetsGrdPontAvgFormControlInput">0</span></label>
                </div>
            </div>
        </form>
    </div>
</section>
